#library-page-container {
	padding: 16px;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(8, auto);
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  margin: 16px;
	margin-bottom: 10px;
}